VITE_SUPABASE_URL=https://wvmmofornwivfsjeqmda.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_hGcc9yoGrZy9LjZ33FtuSA_obXX89GK
DATABASE_URL=postgresql://postgres:QWr:B:VW6k7VyEf@db.wvmmofornwivfsjeqmda.supabase.co:5432/postgres